:root {
  --yt-live-chat-background-color: #282828;
  --yt-live-chat-action-panel-background-color: #282828;
  --yt-live-chat-action-panel-background-color-transparent: rgba(
    40,
    40,
    40,
    0.8
  );
  --yt-live-chat-additive-background-inverse: var(--yt-spec-black-pure-alpha-5);
  --yt-live-chat-secondary-background-color: #282828;
  --yt-live-chat-toast-text-color: #fff;
  --yt-live-chat-toast-background-color: #fff;
  --yt-live-chat-mode-change-background-color: #333;
  --yt-live-chat-primary-text-color: #fff;
  --yt-live-chat-secondary-text-color: rgba(255, 255, 255, 0.7);
  --yt-live-chat-secondary-text-color-inverse: var(--yt-spec-grey-5);
  --yt-live-chat-tertiary-text-color: rgba(255, 255, 255, 0.54);
  --yt-live-chat-tertiary-text-color-inverse: var(
    --yt-spec-black-pure-alpha-30
  );
  --yt-live-chat-text-input-field-inactive-underline-color: #666;
  --yt-live-chat-text-input-field-placeholder-color: #666;
  --yt-live-chat-icon-button-color: var(--yt-live-chat-primary-text-color);
  --yt-live-chat-enabled-send-button-color: #fff;
  --yt-live-chat-disabled-icon-button-color: rgba(255, 255, 255, 0.3);
  --yt-live-chat-picker-button-color: var(--yt-live-chat-tertiary-text-color);
  --yt-live-chat-picker-button-active-color: var(
    --yt-spec-static-overlay-text-primary
  );
  --yt-live-chat-picker-button-disabled-color: var(
    --yt-live-chat-disabled-icon-button-color
  );
  --yt-live-chat-picker-button-hover-color: rgba(255, 255, 255, 0.74);
  --yt-live-chat-mention-background-color: #ff5722;
  --yt-live-chat-mention-text-color: #fff;
  --yt-live-chat-deleted-message-color: rgba(255, 255, 255, 0.5);
  --yt-live-chat-deleted-message-bar-color: rgba(255, 255, 255, 0.5);
  --yt-live-chat-error-message-color: var(--yt-spec-brand-link-text);
  --yt-live-chat-error-message-color-refresh: var(--yt-spec-error-indicator);
  --yt-live-chat-reconnect-message-color: #fff;
  --yt-live-chat-disabled-button-background-color: #444;
  --yt-live-chat-disabled-button-text-color: var(
    --yt-live-chat-secondary-text-color
  );
  --yt-live-chat-sub-panel-background-color: #282828;
  --yt-live-chat-sub-panel-background-color-transparent: var(
    --yt-spec-base-background
  );
  --yt-live-chat-header-background-color: #282828;
  --yt-live-chat-header-button-color: var(--yt-live-chat-secondary-text-color);
  --yt-live-chat-moderator-color: #5e84f1;
  --yt-live-chat-owner-color: #ffd600;
  --yt-live-chat-message-highlight-background-color: var(
    --yt-spec-raised-background
  );
  --yt-live-chat-author-chip-owner-text-color: var(--yt-deprecated-luna-black);
  --yt-live-chat-author-chip-verified-background-color: var(--yt-spec-grey-5);
  --yt-live-chat-author-chip-verified-text-color: var(--yt-spec-white-4);
  --yt-live-chat-sponsor-color: #2ba640;
  --yt-live-chat-overlay-color: rgba(0, 0, 0, 0.5);
  --yt-live-chat-dialog-background-color: #424242;
  --yt-live-chat-dialog-text-color: #fff;
  --yt-live-chat-button-default-text-color: var(
    --yt-spec-static-overlay-text-primary
  );
  --yt-live-chat-button-default-background-color: var(
    --yt-deprecated-white-opacity-lighten-4
  );
  --yt-live-chat-button-dark-text-color: var(
    --yt-spec-static-overlay-text-primary
  );
  --yt-live-chat-button-dark-background-color: var(
    --yt-deprecated-white-opacity-lighten-4
  );
  --yt-emoji-picker-variant-selector-bg-color: #2f2f2f;
  --yt-live-chat-moderation-mode-hover-background-color: rgba(
    255,
    255,
    255,
    0.3
  );
  --yt-live-chat-additional-inline-action-button-color: var(--yt-grey);
  --yt-live-chat-additional-inline-action-button-background-color: var(
    --yt-deprecated-opalescence-soft-grey-opacity-lighten-1
  );
  --yt-live-chat-additional-inline-action-button-background-color-hover: var(
    --yt-deprecated-opalescence-soft-grey
  );
  --yt-formatted-string-emoji-size: 24px;
  --yt-live-chat-emoji-size: 24px;
  --yt-live-chat-text-input-field-suggestion-background-color: #3e3e3e;
  --yt-live-chat-text-input-field-suggestion-background-color-hover: #343434;
  --yt-live-chat-text-input-field-suggestion-text-color: var(
    --yt-spec-static-overlay-text-primary
  );
  --yt-live-chat-text-input-field-suggestion-text-color-hover: var(
    --yt-spec-static-overlay-text-primary
  );
  --yt-live-chat-text-input-field-placeholder-color: var(
    --yt-live-chat-secondary-text-color
  );
  --yt-live-chat-ticker-arrow-background: var(
    --yt-live-chat-action-panel-background-color
  );
  --yt-emoji-picker-category-background-color: var(
    --yt-live-chat-action-panel-background-color-transparent
  );
  --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
  --yt-emoji-picker-search-background-color: #444;
  --yt-emoji-picker-search-color: #fff;
  --yt-emoji-picker-search-placeholder-color: #999;
  --yt-emoji-picker-base-with-variants-border: var(--yt-spec-white-1-alpha-25);
  --yt-live-chat-slider-active-color: #2196f3;
  --yt-live-chat-slider-container-color: #515151;
  --yt-live-chat-slider-markers-color: #fff;
  --yt-live-chat-banner-gradient-scrim: linear-gradient(
    rgba(40, 40, 40, 0.95),
    transparent
  );
  --yt-live-chat-action-panel-gradient-scrim: linear-gradient(
    to top,
    rgba(40, 40, 40, 0.95),
    transparent
  );
  --yt-live-chat-poll-choice-additive-background-color: var(
    --yt-spec-white-1-alpha-20
  );
  --yt-live-chat-poll-choice-additive-background-color-inverse: var(
    --yt-spec-black-pure-alpha-10
  );
  --yt-live-chat-poll-banner-border-highlight-color: var(--yt-spec-black-3);
  --yt-live-chat-poll-editor-start-button-background-color-disabled: var(
    --yt-spec-grey-1
  );
  --yt-live-chat-automod-button-background-color: var(
    --yt-deprecated-opalescence-grey-opacity-lighten-3
  );
  --yt-live-chat-automod-button-background-color-hover: rgba(
    255,
    255,
    255,
    0.5
  );
  --yt-live-chat-automod-button-explanation-color: rgba(255, 255, 255, 0.7);
  --yt-live-chat-countdown-opacity: 0.5;
  --yt-live-chat-shimmer-background-color: rgba(17, 17, 17, 0.4);
  --yt-live-chat-shimmer-linear-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(100, 100, 100, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 60%
  );
  --yt-live-chat-vem-background-color: #3e3e3e;
  --yt-live-chat-product-picker-icon-color: rgba(255, 255, 255, 0.5);
  --yt-live-chat-product-picker-hover-color: rgba(68, 68, 68, 1);
  --yt-live-chat-product-picker-disabled-icon-color: rgba(255, 255, 255, 0.3);
  --yt-pdg-paid-stickers-tab-selection-bar-color: var(--yt-spec-light-blue);
}
